*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;;
}
/*navigation bar style */

nav ul{
    list-style: none;
    display: flex;
    background-color: rgb(176, 184, 175);
}
nav ul li{
    padding: 20px;   
}
nav ul a{
    text-decoration: none;
    color: rgb(236, 241, 229);
}
nav a:hover{
    background-color: white;
    color: black;
    padding: 20px;
    
}

/* banner style */

.banner{
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    text-align: right; 
}
.banner .text{
    padding-right: 230px;
    padding-top: 200px;
    margin-left: 600px;
}
.text h1{
    font-weight: 700;
    font-size: 65px;
    
}
.text p{
    font-weight: 400;
    font-size: 16px;
    padding-left: 140px;
    
}
.banner .btn-primary{
    margin-top: 20px;
    margin-right: 230px;
    background: #e9c705;
    border: 0;
    border-radius: 5px;
    padding: 15px;
}
/* my-pic section*/
.pic{
    display: flex;
    padding-left: 300px;
    padding-top: 100px;
    
}
.my-pic img{
    height: 400px;
}
.pic-info{
    padding-left: 80px;
    padding-right: 160px;
    padding-top: 110px;
}
.pic-info-title{
    font-size: 40px;
    font-weight: 700;
    padding-right: 100px;
}
.pic-info-description{
    font-weight: 400px;
    font-size: 16px;
    padding-top: 24px;
    padding-right: 90px;
}
.pic-info-point{
    padding-top: 16px;
    padding-bottom: 8px;
}
/* My Plan section */
.plan{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
}
.plan-container{
    margin-left: 200px;
    display: flex;
    gap: 50px;
    text-align: center;
}
.plan-item img{
    height: 92px;
    width: 92px;
}
.plan-item .plan-title{
    padding-top: 43px;
    font-size: 30px;
    font-weight: 700;
}
.plan-item .plan-description{
    padding-top: 16px;
    font-size: 25px;
    font-weight: 500;
}
/*mindset section style */
.mindset{
    margin: 130px 200px;
    padding-left: 60px;
    padding-top: 60px;
    height: 230px;
    background-image: linear-gradient(to right,orangered,rgba(200, 155, 9, 0) ),url('/images/watch.png');
}
.mindset h3{
    font-size: 45px;
    font-weight: 400;
    color: white;
    padding-right: 400px;
}
.mindset button{
    margin-top: 10px;
    padding: 20px 30px;
    border-radius: px;
    color:orangered;
}
/*footer style*/

.footer-container{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 130px 230px;
}
 .footer-item-1{
    padding-right: 200px;
}
.footer-item-1 h3{
    font-size: 45px;
    font-weight: 700;
}
.footer-item-1 p{
    font-weight: 350;
    font-size: 15px;
    padding-top: 16px;
}
.footer-item-1 img{
    margin-top: 20px;
    margin-right: 20px;
}
.footer-item-2 input{
    margin-top: 31px;
    margin-bottom: 16px;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}
.footer-item-2 button{
    background: #1679bb;
    border-radius: 5px;
    padding: 15px;
}